.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Ajoute un fond et du padding si besoin */
    background: BLACK;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-nav {
    background-color: BLACK;
    border-radius: 5px;
    border: 1px solid BLACK;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}