{{define "accueil"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Lilian LE PIVER </title>
    <link rel="stylesheet" href="/static/css/accueil.css"> </head>
<body>

<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="#apropos">À Propos</a></li>
                <li><a href="#competences">Compétences</a></li>
                <li><a href="#projets">Projets</a></li>
                <li><a href="#experiences">Éxperiences</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<script src="/static/js/home.js"></script>
</body>
</html>
{{end}}