{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    <header class="main-header">
        <nav class="header-nav">
            <a href="/accueil"><button>Accueil</button></a>
            <a href="/mon_palmares"><button>Mon Palmarès</button></a>
            <a href="/techniques_de_combat"><button>Techniques de Combat</button></a>
            <a href="/camp_d_entrainement"><button>Camp d'Entraînement</button></a>
            <a href="/arbitres_et_supporters"><button>Arbitres & Supporters</button></a>
            <a href="/provoque_moi_en_duel"><button>Provoque-moi en Duel</button></a>
        </nav>
    </header>
</body>
</html>
{{end}}