{{define "mon_palmares"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/Portfolio-2025/static/css/mon_palmares.css">
    <title>Mon Palmarès</title>
</head>
<a href="/accueil"><button>retour</button></a>
<body>
    <header>
        <h1 class="titre">Mon Palmarès</h1>
    </header>
    <main>
        <section>
            <h2>Mes Combats</h2>
            <p>Voici un aperçu de mes combats récents.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Mon Site</p>
    </footer>
</body>
</html>
{{end}}
