{{define "mon_palmares"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/mon_palmares.css">
    <title>Mon Palmarès</title>
</head>
{{template "header" }}

<body>
    <h1 class="titre">Mon Palmarès</h1>
    <div class="titre-combat">
        <h2>Mes Combats</h2>
        <p>Voici un aperçu de mes combats récents.</p>
    </div>
    <div class="premier-combat">
        <h3>FIGHT MAIN EVENT</h3>
        <p>Résumé du combat : Victoire par rendu a l'heure.</p>
        <p>Mon meilleur projet a deux, a été un défi passionnant, j'ai pu mettre en avant mes compétences nouvelles compétences web.
            le but était de créer un site web en créant le jeu du pendu en Go. </p>
            <a href="/hangman-web"><button>Voir le projet</button></a>
        </div>
    <div class="deuxieme-combat">
        <h3>FIGHT CO-MAIN EVENT</h3>
        <p>Résumé du combat : Première Victoire.</p>
        <p>Mon premier projet en solitaire a été un défi passionnant, j'ai pu mettre en avant mes compétences.
            Le but était de créer un site web en utilisant une API REST, j'ai donc dû apprendre à interagir avec des
            données externes et à les afficher de manière dynamique.
        </p>
        <a href="/groupie-tracker"><button>Voir le projet</button></a>
    </div>
    <div class="troisieme-combat">
        <h3>FIGHT MAIN CARDS</h3>
        <p>Résumé du combat : Initiation dans la cour des grands</p>
        <p>Le tout premier projet de groupe a été un succès retentissant, mettant en avant les compétences de chaque
            membre.
            Le but était de créer un jeu dans le terminal de commande en utilisant le langage de programmation Go.
        </p>
        <a href="/projet-red"><button>Voir le projet</button></a>
    </div>
</body>
{{template "footer" }}

</html>
{{end}}